<section class="section">
    <div class="section-header">
      <h1>
        {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.PAGE_TITLE' | translate }} 
      </h1>
    </div>

    <div class="row" *ngIf="!this.conference; else content">
      <div class="col-12 d-flex justify-content-center">
        <div class="spinner" >
          <div class="spinner-border text-primary"></div>
        </div>
      </div>
    </div>

    <ng-template #content>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="card">
  
            <div class="card-header">
              <h4>
                {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.NEAREST_CONFERENCE_CARD.TITLE' | translate }}
              </h4>
            </div>
  
            <div class="card-body">
              <div class="summary">
                <div class="summary-info">
                  <h4 *ngIf="conference['name_' + lang]">
                    {{ conference['name_' + lang] }}
                  </h4>
                  <h4 *ngIf="!conference">
                    {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.NEAREST_CONFERENCE_CARD.NO_CONF' | translate }}
                  </h4>
                  <div class="text-muted">
                    
                  </div>
                  <div class="d-block mt-2">   
                    <a [routerLink]="['/manage-conference/actual']" *ngIf="conference.id && this.userProvider.checkPermission('CONFERENCE_GENERAL.ADD_NEW')">
                      {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.NEAREST_CONFERENCE_CARD.MANAGE_CONFERENCE' | translate }}
                    </a>

                    <a [routerLink]="['/conference/overview']"  *ngIf="conference.id && !this.userProvider.checkPermission('CONFERENCE_GENERAL.ADD_NEW') && !this.userProvider.checkPermission('CONFERENCE_GENERAL.CHANGE_CONFERENCE_STATUS')">
                      {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.NEAREST_CONFERENCE_CARD.SEE_CONF_PAGE' | translate }}
                    </a>
                  </div>
                </div>

                <div class="summary-item">
                  <h6>
                    {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.NEAREST_CONFERENCE_CARD.NEW_REGISTERED' | translate }}
                  </h6>

                  <ul class="list-unstyled list-unstyled-border">
                    <li class="media">
                      {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.NEAREST_CONFERENCE_CARD.NO_REGISTERED' | translate }}
                    </li>
                    <li class="media" *ngFor="let user of newRegistered">
                      <a href="#">
                        <img class="mr-3 rounded" width="50" [src]="user.preference_user.avatar" alt="avatar">
                      </a>

                      <div class="media-body">
                        <div class="media-right">
                          {{ user.created_at | date }}
                        </div>
                        <div class="media-title">
                          <a [routerLink]="['/users/profile', user.id]">
                            {{ user.first_name + ' ' + user.last_name }}
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

      <div class="col-lg-6 col-md-12 col-12 col-sm-12" *ngIf="this.userProvider.checkPermission('CONFERENCE_ARTICLES.PUBLISH_ARTICLES')">
        <div class="card">
          <div class="card-header">
            <h4>
              {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.LAST_COMMENTS.TITLE' | translate }}
            </h4>
          </div>
          <div class="card-body">             
            <div *ngIf="this.lastComments.lenght === 0">
              {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.LAST_COMMENTS.NO_COMMENTS' | translate }}
            </div>
            <div class="activities" *ngIf="this.lastComments.length > 0">
              <div class="activity" *ngFor="let comment of lastComments">
                <div class="activity-icon bg-primary text-white shadow-primary">
                  <i class="fas fa-comment-alt"></i>
                </div>
                <div class="activity-detail">
                  <div class="mb-2">
                    <span class="text-job text-primary">
                        {{ comment['created_at_human_' + this.lang] }}
                    </span>
                    <span class="bullet"></span>
                    <a class="text-job">
                      {{ 'STOWARZYSZENIE.MODALS.ARTICLES.COMMENTS_MODAL.ANONYMOUS' | translate }}
                    </a>
                  </div>
                  <p>
                    {{ comment.description }}
                  </p>
                </div>
              </div>
            </div>
            <div class="text-center pt-1 pb-1">
              <a [routerLink]="['/conference-articles/my']" class="btn btn-primary btn-lg btn-round">
                {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.LAST_COMMENTS.VIEW_ARTICLES' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12 col-12 col-sm-12" *ngIf="this.userProvider.checkPermission('CONFERENCE_ARTICLES.ACCEPT_ARTICLES') || this.userProvider.checkPermission('CONFERENCE_ARTICLES.ASSIGN_REVIEWERS')">
          <div class="card">
            <div class="card-header">
              <h4>
                {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.LAST_ARTICLES.TITLE' | translate }}
              </h4>
              <div class="card-header-action">
                <a [routerLink]="['/conference-articles/all']" class="btn btn-primary">
                  {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.LAST_COMMENTS.VIEW_ARTICLES' | translate }}
                </a>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped mb-0">
                  <thead>
                    <tr>
                      <th>
                        {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.LAST_ARTICLES.TITLE2' | translate }}
                      </th>
                      <th>
                        {{ 'STOWARZYSZENIE.MODULES.DASHBOARD.LAST_COMMENTS.AUTHOR' | translate }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>                         
                    <tr *ngFor="let article of allArticles">
                      <td>
                        {{ article['title_' + lang] }}
                      </td>
                      <td>
                        <a [routerLink]="['/users/profile', article.user.id]" class="font-weight-600">
                          <img alt="image" [src]="article.user.preference_user.avatar" class="rounded-circle" width="35" data-toggle="tooltip">
                          {{ article.user.first_name + ' ' + article.user.last_name }}
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-template>
</section>