<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.SECTION_TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.PAGE_DESC' | translate }}
    </p>

    <h5 class="mb-4" *ngIf="this.track">
        {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.SECTION_TITLE_TRACKNAME' | translate }} {{ track['name_' + this.lang] }}
    </h5>

    <div class="card" *ngIf="this.loading; else content">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary"></div>
            </div>
        </div>
    </div>

    <ng-template #content>
        <div class="row">
            <div class="col-12">
                <app-alert *ngIf="this.alert" [alertType]="this.alert.type" [message]="this.alert.message"></app-alert>

                <div class="card">
                    <div class="card-header">
                        <h4>
                            {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.CHAIRS_TITLE' | translate }}
                        </h4>
                    </div>

                    <div *ngIf="this.track" class="card-body">
                        <div class="d-flex justify-content-center">
                            <div class="user-item mx-3" *ngFor="let chair of this.track.track_chairs">
                                <img alt="image" width="100" [src]="chair.preference_user.avatar" class="img-fluid img-responsive img-small">
                                <div class="user-details">
                                    <div class="user-name">
                                        {{ chair.first_name + ' ' + chair.last_name }}
                                    </div>
                                    <div class="text-job text-muted">
                                        {{ chair.affilation_user.institution }}
                                    </div>
                                    <div class="user-cta">
                                        <button class="btn btn-primary btn-icon follow-btn mt-3" (click)="deleteChairFromTrack(chair)" *ngIf="this.userProvider.checkPermission('CONFERENCE_TRACKS.ASSIGN_CHAIR')">
                                            <i class="fa fa-times text-white"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <p class="text-primary mb-2" *ngIf="!this.track.track_chairs.length">
                                {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.NO_CHAIRS' | translate }}
                            </p>

                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary" (click)="assignChair()" *ngIf="this.userProvider.checkPermission('CONFERENCE_TRACKS.ASSIGN_CHAIR')">
                                    {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.ASSIGN_CHAIR' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.REVIEWERS_TITLE' | translate }}
                        </h4>
                    </div>

                    <div *ngIf="this.track" class="card-body">
                        <ul class="list-unstyled user-details list-unstyled-border list-unstyled-noborder">
                            <li class="media" *ngFor="let reviewer of this.track.track_reviewers">
                                <img alt="image" class="img-fluid img-responsive img-small" width="50" [src]="reviewer.preference_user.avatar">

                                <div class="media-body ml-2">
                                <div class="media-title">
                                    {{ reviewer.first_name + ' ' + reviewer.last_name }}
                                </div>
                                <div class="text-job text-muted">
                                    {{ reviewer.affilation_user.institution }}
                                </div>
                                </div>

                                <div class="media-items">
                                    <div class="media-item">
                                        <div class="media-value">
                                            100
                                        </div>
                                        <div class="media-label">
                                            Recenzji
                                        </div>
                                    </div>

                                    <div class="media-item">
                                        <div class="media-value">26</div>
                                        <div class="media-label">Przypisanych Prac</div>
                                    </div>

                                    <div class="media-item">
                                        <button class="btn btn-icon btn-danger" (click)="deleteReviewerFromTrack(reviewer)" *ngIf="this.userProvider.checkPermission('CONFERENCE_TRACKS.ASSIGN_REVIEWER')">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div>
                            <p class="text-primary mb-2" *ngIf="!this.track.track_reviewers.length">
                                {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.NO_REVIEWERS' | translate }}
                            </p>

                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary" (click)="assignReviewer()" *ngIf="this.userProvider.checkPermission('CONFERENCE_TRACKS.ASSIGN_REVIEWER')">
                                    {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.ASSIGN_REVIEWER' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
